 .popular{
    font-size: 25px;
    font: bold;
    margin-right: 1200px;
    margin-top: 30px;
}

 .hor{
 margin-left: 10px;
 margin-right: 10px;
} 


.font_size{
  font-size: 14px;
  margin-right: 10px;
    
}

.display{
    display: flex;
flex-wrap: wrap;
    /* border: 2px solid rgb(172, 49, 49); */
 box-sizing: border-box;
 margin: 0px auto;
 width: 95%;
  
    
}

.imgs{
    width: 200px;
}
.mb2{
    width: 180px;
}

.hi{
    
    width: 23%;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(241, 237, 238);
    border-radius: 5px;
  

}
 .hi img {
    border-radius: 10px;
 }
/* .image-flex_img{ */ 
    /* border: 2px solid rgb(137, 31, 31); */
   
/* .fleex_img{
    border: 1px solid rgb(246, 239, 239);
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.img_fleex_img{
    width: 250px;
} */

/* .fleex_display{
    display: flex;
    flex-wrap: wrap;
} */
 
 /* .quantum{
    font-size: 20px;
    font-style: normal;
   margin-left:-1050px; 
 }

.dolor{
    margin-right: 1200px;
}


.display_fleex{
    display: flex;
} */


.button_flex{
  font-size: 15px;
  border-radius: 20px;
  width: 200px;
  height: 35px;
}
.button_flex:hover {
    background-color: rgb(58, 100, 76);
}
.heart_repeat{
    border: 2px solid green;
    border-radius: 60px;
    width: 30px;
    height: 40px;
    padding: 20px;
    margin-left: 90px;
    margin-top: 10px;
    
    
}

.icon{
    font-size: 20px;
    margin-top: -50px;
    margin-left: -10px;

}
.heart_repeat:hover{
    background-color:rgb(40, 99, 66) ;
}


.heart_h{
    border: 2px solid green;
    border-radius: 200px;
    width: 45px;
    height: 45px;
    margin-left: 150px;
    margin-top: -85px;
    padding: 10px;
}

.heart_h_icon{
    font-size: 20px;
    margin-top: -20px;
    margin-left: 0px;
}
.heart_h:hover{
    background-color:rgb(40, 99, 66) ;
}






.categories{
    margin-right:1100px;
    font-size: 50px;
}

.bag{
    /* border: 2px solid rgb(235, 226, 226); */
    border-radius: 90px;
    margin-top: 60px;
    
    
   

}

.lock{
    border: 3px solid rgb(0,96,68);
  border-radius: 60px ;
  padding: 10px;
  background-color: rgb(206,225,219);
  
  
}

.lock_P{
    font-size: 70px;
    margin-right: 1300px;
    margin-top: -40px;
    margin-bottom: 100px;
   
}


.fonnt_PP{
    font-size: large;
    color: black;
    font-weight: bold;
    margin-right: 855px;
    margin-top:-180px;
  
    
   
}

.font2_pp{
    font-size:medium;
    color: black;
    margin-right: 855px;
}



.smile{
    border:  3px solid rgb(253,141,20);
    border-radius: 50px;
    padding: 20px;
    margin-top: -220px;
    margin-right: 397px;
    background-color: rgb(254,232,209);
}

.smile_p{
    font-size: 70px;
 }

 .smile_pp{
    font-size: large;
    color: black;
    font-weight: bold;
    margin-top: -207px;
    margin-left: -120px;

 }
 .smile_ppp{
    font-size:medium ;
    color: black;
    
 }

 .bagborder{
    border: 2px solid rgb(222, 222, 234);
    padding: 50px;
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
 }


 .truck{
    border:  3px solid rgb(91, 116, 227);
    border-radius: 50px;
    padding: 17px;
    font-size:60px;
    background-color:rgb(171, 181, 223) ;
    margin-left: 400px;
    margin-top: -170px;
    


}
.truck_p{
    font-size: 40px;
    color: black;
 }


 .truck_pp{
    font-size: large;
    color: black;
    font-weight: bold;
    margin-top: -150px;
    margin-left:750px;

 }

 .truck_ppp{
    font-size:medium ;
    color: black;
    margin-left: 800px;
    margin-top: -10px;
 }